$bodyBg: #f3f4fa;
$mainColor: rgb(66, 86, 122);;
$statisticBg:#FEF9F2;
$buttonBg:#FF9C08;
$textColor:#090909;
$txtColor: #6E6E6E;
$donataBg: #FFD4A4;
$iconBg: #FFF3E0;
$sectionTitleBlueColor: #4b83fc;
$orange: #ff9066;
$white: #fff;
$black: #000;
$green: #66cfa9;
$red: #d82027;
$iconBg: #3e465d;
$linkSectionColor: #eff6fc;
$background: rgb(232, 235, 241);

// $shadow: 11px 10px 38px 0 rgb(46 63 99 / 15%);

$fontFamily: 'CeraPro' ,sans-serif;
$fontFamilyTwo: 'Akzidenz-Grotesk Pro Medium', sans-serif;

$fontSizeNormal: 18px;
$fontSizeMedium: 24px;
$fontSizeLarge: 42px;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 8px;

$mobile-width: 767px;
$tablet-width: 1024px;
